@import '../../../assets/styles/_variables';

/****[button-1]****/
a[type="b1"]{
	@include button(70%);
}
a[type="b1"]:hover{
	background-color: #fff;
	color:$prime-color;
	font-weight:300;
}

/****[button-2]****/
a[type="b2"]{
	@include button(70%);
	background-color: #fff;
	color:$prime-color;
}
a[type="b2"]:hover{
	background:transparent;
	color:#fff;
	font-weight:300;
}

/****[Home button]****/
a[type="b3"]{
	@include button(60%);
}
a[type="b3"]:hover{
	background-color: #fff;
	color:$prime-color;
    font-weight:300;
}
