@import "../../../assets/styles/_variables";

//------------input field--------------//
.group 			  { 
    position:relative; 
    margin-top:15%;
  }
  input 				{
    font-size:18px;
    padding:5px 5px;
    display:block;
    width:120%;
    border:none;
    border-bottom:1px solid $ash-color;
  }
  input:focus{
      outline:none;
      border:none;	
      padding:5px; 
  }
  
  /* LABEL ======================================= */
  label {
    color:$ash-color; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.3s ease all; 
    -moz-transition:0.3s ease all; 
    -webkit-transition:0.3s ease all;
  }
  
  /* active state  , input:valid ~ label*/
  input:valid ~ label{
    top:-20px;
    font-size:12px;
    color:$second-color;
  }
  input:focus ~ label 	{
    top:-20px;
    font-size:12px;
    color:$second-color;
  }
  
  /* BOTTOM BARS ================================= */
  .bar { 
      position:relative; 
      display:block; 
      width:120%; 
  }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:$second-color; 
    transition:0.3s ease all; 
    -moz-transition:0.3s ease all; 
    -webkit-transition:0.3s ease all;
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:100%;
  }