@import '../../assets/styles/_variables';

.container-center-align{
	@include flex-box(center,center,row,100%);
	background-color: orangered;
	height:100vh;
	position:relative;
}

/*********[dialog-box content sceloton]**********/
.dialog-box{
	@include flex-box(flex-start,flex-start,column,700px);
	background-color: #fff;
	max-height: 80vh;
	height:450px;
	border-radius: 32px;
	margin:0;
	padding:0;
	position:absolute;
}
.bg-wave{
	background-image: url("../../assets/imgs/smallwave.png");
	background-repeat:no-repeat;
	background-size:101%;
	width:100%;
	height:55%;
	max-height:55%;
	margin-top:29%;
	box-sizing:border-box;
	z-index:2;
	border-radius:0 0 30px 30px;
	position:absolute;
}
.row{
	@include flex-box(flex-start,flex-start,row,100%);
	flex-wrap: nowrap;
	z-index:3;
	margin:0;
}
.adjest-height{
	height:60%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.small-wave::after {
    content: "";
    clear: both;
    display: table;
}
.content{
	@include flex-box(flex-start,flex-start,column,50%);
	padding: 2% 0 2% 3%;
}
.content-container{
	@include flex-box(flex-start,flex-start,column,100%);
}
.content-center{
	@include flex-box(center,center,column,50%);

	img{
		width:90%;
		object-fit:cover;
		padding:5% 17% 0 0; 
	}
}
.bottom-align{
	justify-content: flex-end;
    align-items: flex-end;
    padding: 110px 30px 0 0;
}

.dialog-title{
	color:$prime-color;
	font-weight:300;
	margin:0;
}

.dialog-main-title{
	@extend .dialog-title;
	font-size: 32pt;
}

.dialog-secondary-title{
	@extend .dialog-title;
	font-size:12pt;
	letter-spacing: 0.3px;
}

/*********[dialog-box content sceloton]**********/
.dialog-button{
	border: solid 2px white;
    border-radius: 100px;
    color: #fff;
    padding: 8px 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    cursor: pointer;
    font-weight:100;
    background:transparent;
    
}

.hidden{
	display:none;
}