.profile-section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 0; }

.prof-img-sec {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex-direction: Column;
  width: 30%; }

.prof-name-sec {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: Column;
  width: 70%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 6px 0; }
  .prof-name-sec h3 {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 12pt; }
