.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background: transparent;
  height: auto;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box; }
