.comp-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 10px;
  height: 49vh;
  box-sizing: border-box; }

.sec-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 20px 0;
  box-sizing: border-box; }

.com-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 20px 0;
  box-sizing: border-box; }
