@import '../../../assets/styles/_variables';

.comp-section{
    @include flex-box(flex-start,flex-start,row,100%);
    margin:0;
    padding:10px;
    height:49vh;
    box-sizing:border-box;
}
.sec-list{
    @include flex-box(flex-start,flex-start,column,20%);
    height:100%;
    margin:0;
    padding:0;
    padding: 20px 0;
    box-sizing:border-box;
}
.com-list{
    @include flex-box(flex-start,flex-start,column,80%);
    height:100%;
    margin:0;
    padding:0;
    padding: 20px 0;
    box-sizing:border-box;
}