$text-color : #E8674D;
$sec-text-color: #fff;
$prime-color: #E24A4A;
$second-color: #EE8550;
$ash-color:#8D8D8D;
$font:'roboto';

@mixin bg-gradiant($prime-color,$second-color){	
	background: $prime-color; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, $prime-color, $second-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $prime-color, $second-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $prime-color, $second-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $prime-color, $second-color); /* Standard syntax (must be last) */
}

@mixin flex-box($justify-content,$align-items,$flex-derection,$width){
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	justify-content:$justify-content;
	align-items:$align-items;
	flex-direction:$flex-derection;
	width:$width;
}

@mixin button($width){
	@include flex-box(center,center,row,$width);
	box-sizing:border-box;
	border: solid 2px white;
	border-radius: 100px;
	padding: 8px;
	cursor: pointer;
	color: #fff;
	font-weight:300;
	font-size: 14pt;
	text-align: center;
	text-decoration: none;
	background:transparent;
}

