.scrollbox {
  width: 100%;
  overflow: auto;
  visibility: hidden;
  transition: visibility 0.2s; }

.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
  transition: visibility 0s 0.2s;
  outline: none; }
