.scrollbox {
  width: 100%;
  overflow: auto;
  visibility: hidden;
  transition: visibility 0.2s; }

.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
  transition: visibility 0s 0.2s;
  outline: none; }

/* width */
.crollbox-content::-webkit-scrollbar {
  width: 10px; }

/* Track */
.crollbox-content::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
.crollbox-content::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
.crollbox-content::-webkit-scrollbar-thumb:hover {
  background: #555; }
