@import '../../../assets/styles/_variables';

.nav-container{
    @include flex-box(flex-start,flex-start,column,100%);
    height:92.5vh;
    margin:0;
    padding:0;
    background-color: #000;

    .nav-text{
        color:#666;
        padding:10px 0 10px 20px;
    }
}
.nav-button-container{
    @include flex-box(flex-start,center,column,100%);
    padding: 0 0 20px 0;

    a{
        @include button(100%);
        border-radius: 0;
        border: none;
        justify-content: flex-start;
        font-size:11pt;
        font-weight:400;
        padding-left:40px;
        transition: 0.5s;
    }
    a:hover{
        background-color:$prime-color;
    }
    a:active{
        border-right:4px solid $prime-color;
    }
    .active{
        border-right:4px solid $prime-color;
    }
}
.nav-devider{
    @include flex-box(flex-start,center,column,100%);
    height: 3px;
    background-color: #222;
}
.leaderboard-container{
    @include flex-box(flex-start,center,column,100%);
    padding: 0 0 20px 0;
}