@import "../../../assets/styles/_variables";

.container{
    @include flex-box(flex-start,center,row,100%);
    @include  bg-gradiant($prime-color,$second-color);
    height:65px;
    z-index:3;
    // box-shadow: 0 1px 2px #3a3939;
}
.contentbox-1{
    @include flex-box(flex-start,center,row,20%);
}
.contentbox-2{
    @include flex-box(center,center,row,60%);
}
.contentbox-3{
    @include flex-box(flex-end,center,row,20%);
}
.main-title{
	color:#fff;
	font-weight:300;
    margin:0;
    font-size:22pt;
    padding-left:30px;
}
.turn-time{
    color:#fff;
    font-size: 14pt;
    padding:20px;
    font-weight: 300;
}
.line{
    width:2px;
    height:40px;
    background-color: #fff;
}