@import "../../../assets/styles/_variables";

.header-container{
    @include flex-box(flex-start,center,row,100%);
    height:20vh;
    z-index:3;
    // box-shadow: 0 3px 6px #aaa;
}
.contentbox-1{
    @include flex-box(flex-start,center,column,16.7%);
    height:100%;
}
.contentbox-2{
    @include flex-box(space-between,center,row,60%);
    padding:0 60px;
    height:100%;
}
.contentbox-3{
    @include flex-box(center,flex-start,column,23.3%);
    height:100%;
    padding:10px 0;
}
.header-element{
    @include flex-box(center,center,row,30%);
    height:60%;
    border-radius: 20px;
    background-color: #000;
}
.profile-element{
    @include flex-box(flex-start,center,column,100%);
    height:50%;
}
.main-title{
	color:$prime-color;
    font-weight:400;
    font-size:18pt;
    padding-top:15%;
}
.analyst-title{
    color: tomato;
    font-size:14pt;
}
.analyst-desc{
    color: #fff;
    font-size:11pt;
    font-weight:300;
    padding:10px 0;
}
