.sector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background: #EE8550;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #EE8550, #E24A4A);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #EE8550, #E24A4A);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #EE8550, #E24A4A);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #EE8550, #E24A4A);
  /* Standard syntax (must be last) */
  padding: 10px;
  text-decoration: none;
  font-size: 12pt;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.5px;
  width: 90%;
  margin: 5px 0 5px 0;
  transition: 0.3s;
  cursor: pointer;
  z-index: 3; }

.sector:hover {
  margin-left: 10px; }

.sector:active {
  margin-left: 20px; }
