.sector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  background: #EE8550;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #EE8550, #E24A4A);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #EE8550, #E24A4A);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #EE8550, #E24A4A);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #EE8550, #E24A4A);
  /* Standard syntax (must be last) */
  padding: 8px;
  text-decoration: none;
  font-size: 10pt;
  color: white;
  border-radius: 0 7px 7px 0;
  margin: 3px 0;
  transition: 0.3s ease all;
  cursor: pointer;
  z-index: 3; }

.sector:hover {
  width: 100%; }
