@import '../../../assets/styles/_variables';

.section{
    @include flex-box(flex-start,flex-start,row,100%);
    padding:0;
    margin:0;
    height:100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:1px 1px 6px 1px #333;
}